
#main-area {
    margin: 0px auto;
    max-width: 600px;
    padding: 15px;
    align-self: center;
    position: relative;
}   
.alueet {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    font-size: 18px;
}
#Laskuriosa {
    margin: 0px auto;
    max-width: 300px;
    float: left;
}
#laskuri-label {
    font-weight: normal;
}
#lisatieto-label {
    font-weight: lighter;
    font-size: 16px;
}
#torjuttavat-aineet {
    width: 82%;
}
#neutraloivat-aineet {
    width: 82%;
}
#lisatieto {
    width: 50%;
    margin: 4px 0px 0px 0px;
}
#output {
    margin: 0px auto;
    max-width: 300px;
    float: right;
}
#tulokset {
    font-weight: bolder;
}
#haku-btn {
    margin-left: 0px;
}